<help-bot-page titulo="Pesquisa de Manuais">

  <div class="row">
    <mat-input-container class="col-lg-5 col-md-5 col-sm-6 col-xs-12">
      <input
        matInput
        placeholder="Pesquise um manual"
        name="query"
        [(ngModel)]="query"
        />
      <button
        color="primary"
        (click)="pesquisar()"
        mat-icon-button
        matSuffix
        matTooltip="Pesquise um manual"
        [disabled]="!query"
        >
        <fa-icon
          [icon]="searchIcon"
          >
        </fa-icon>
      </button>
    </mat-input-container>
  </div>

  <mat-list>
    <mat-list-item
      *ngFor="let tutorial of tutoriais | async"
      class="pergunta"
      (click)="irParaTutorial(tutorial)"
      >
      {{ tutorial.nome }}
    </mat-list-item>
    <mat-divider></mat-divider>
  </mat-list>

</help-bot-page>
