<help-bot-page titulo="Tutorial" *ngIf="tutorial">

  <div *ngIf="!tutorial.id">
    <div class="nome-full">
      <mat-form-field appearance="outline">
        <mat-label>Nome do Tutorial</mat-label>
        <input
          matInput
          placeholder="Ex: Nota Fiscal"
          [formControl]="tutorialNome"
          >
          <mat-error *ngIf="tutorialNome.invalid">
            O nome do tutorial é obrigatório
          </mat-error>
      </mat-form-field>
    </div>

    <div>
      <button
        mat-raised-button
        color="primary"
        (click)="addTutorial()"
        >
        Criar Tutorial
      </button>
    </div>
  </div>

  <h2 *ngIf="tutorial.id">{{ tutorial.nome }}</h2>

  <div>

    <mat-card>

      <mat-card-header *ngIf="tutorial.id">
        <button
          mat-raised-button
          color="primary"
          (click)="addDescricao()"
          >
          Adicionar Descrição
        </button>

        <button
          mat-raised-button
          color="primary"
          (click)="addImage()"
          >
          Adicionar Imagem
        </button>
      </mat-card-header>

      <mat-card-content>

        <div *ngFor="let item of itens">
          <br>

          <div [ngSwitch]="item.formaExibicao">

            <div *ngSwitchCase="0">
              <div class="titulo">
                <button
                  mat-icon-button
                  (click)="removerItem(item)"
                  >
                  <fa-icon
                    [icon]="times"
                    matTooltip="Excluir Descrição"
                    >
                  </fa-icon>
                </button>
                <quill-editor
                  [(ngModel)]="item.objeto.descricao"
                  [modules]="quillModules"
                  placeholder="Descrição"
                  [style.height]="'100%'"
                  >
                </quill-editor>
              </div>

            </div>

          </div>

        </div>

      </mat-card-content>

    </mat-card>

  </div>


</help-bot-page>
