<help-bot-page titulo="Campos">

  <div class="row">
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
      <label class="form-control-label">Nome</label>
      <input
        type="text"
        name="nome"
        id="nome"
        [(ngModel)]="campo.nome"
        class="form-control input-sm" />
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <label class="form-control-label">Descrição</label>
      <textarea
        name="especificacao"
        id="especificacao"
        [(ngModel)]="campo.especificacao"
        class="form-control input-sm">

      </textarea>
    </div>
  </div>

  <div>
      <fa-icon
        [icon]="fontAwesomeBan"
        class="my-danger-color my-icon-font"
        (click)="cancelar()"
        size="lg"
        title="Cancelar"
        >
      </fa-icon>
  
      <fa-icon
        [icon]="fontAwesomeSave"
        class="my-primary-color my-icon-font"
        (click)="salvar()"
        size="lg"
        title="Salvar"
        >
      </fa-icon>
    </div>

</help-bot-page>
