<help-bot-page titulo="Modulos">

  <fa-icon
    [icon]="fontAwesomePlusCircle"
    class="my-success-color my-icon-font"
    (click)="criar()"
    size="lg"
    title="Adicionar um novo Módulo"
    >
  </fa-icon>

  <table class="table table-bordered table-striped">

    <thead>
      <tr>
        <th class="text-center">#</th>
        <th>Nome</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let modulo of modulos">
        <td>
          <div class="btn-group">
            <fa-icon
              [icon]="fontAwesomePencil"
              class="my-primary-color my-icon-font"
              (click)="editar(modulo)"
              size="lg"
              title="Editar esse Módulo"
              >
            </fa-icon>

            <fa-icon
              [icon]="fontAwesomeTimeCircle"
              class="my-danger-color my-icon-font"
              (click)="remover(modulo)"
              size="lg"
              title="Remover esse Módulo"
              >
            </fa-icon>
          </div>
        </td>
        <td>
          <label [title]="modulo.especificacao">
            {{ modulo.nome }}
          </label>
        </td>
      </tr>
    </tbody>

  </table>

</help-bot-page>

