<help-bot-page titulo="Modulos">
  <fa-icon
  [icon]="fontAwesomePlusCircle"
  class="my-success-color my-icon-font"
  (click)="criar()"
  size="lg"
  title="Adicionar um novo Campo"
  >
</fa-icon>
  <table class="table table-striped">
    <thead>
      <tr>
        <th></th>
        <th>Nome</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let campo of campos">
        <td>
          <fa-icon
              [icon]="fontAwesomePencil"
              class="my-primary-color my-icon-font"
              (click)="editar(modulo)"
              size="lg"
              title="Editar esse Campo"
              >
            </fa-icon>
        </td>
        <td>
          <label [title]="campo.especificacao">
            {{ campo.nome }}
          </label>
        </td>
      </tr>
    </tbody>

  </table>

</help-bot-page>