<div class="modal-janela">

  <div class="modal-corpo">

    <div class="modal-cabecalho">
      Cadastro de Pergunta Frequente
    </div>

    <div class="modal-conteudo">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <mat-input-container class="tamanho-maximo">
            <input
              matInput
              name="pergunta"
              placeholder="Pergunta"
              [(ngModel)]="perguntaFrequente.pergunta"
              />

          </mat-input-container>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <mat-input-container class="tamanho-maximo">
            <input
              matInput
              name="resposta"
              placeholder="Resposta"
              [ngModel]="tutorialQuery"
              (ngModelChange)="changeTutorialQuery($event)"
              [matAutocomplete]="tutorialAutocomplete"
              />
            <mat-autocomplete
              #tutorialAutocomplete="matAutocomplete"
              [displayWith]="displayTutorial"
              (optionSelected)="optionSelected($event)"
              >
              <mat-option *ngFor="let tutorial of tutoriais | async" [value]="tutorial">
                {{ tutorial.nome }}
              </mat-option>
            </mat-autocomplete>

          </mat-input-container>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <mat-input-container class="tamanho-maximo">
            <input
              matInput
              name="keyword"
              placeholder="Palavras-Chaves"
              [(ngModel)]="keyword"
              (keyup)="onKeyUpKeyword($event)"
              />
              <button
                mat-icon-button
                matPrefix
                (click)="addKeyword()"
                >
                <fa-icon
                  [icon]="plus"
                  matTooltip="Adicionar um palavra-chave"
                  >
                </fa-icon>
              </button>

          </mat-input-container>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <mat-chip-list>
            <mat-chip *ngFor="let keyword of this.perguntaFrequente.keywords" class="palavra-chave">
              <span>{{ keyword.descricao }}</span>
              <fa-icon
                [icon]="times"
                (click)="removeKeyword(keyword)"
                >
              </fa-icon>
            </mat-chip>
          </mat-chip-list>
        </div>
      </div>
    </div>

    <div class="modal-rodape">
      <div class="btn-group">
        <button
          mat-raised-button
          color="warn"
          (click)="cancelar()"
          >
          Cancelar
        </button>

        <button
          mat-raised-button
          color="primary"
          (click)="salvar()"
          [disabled]="!isValid()"
          >
          Salvar
        </button>
      </div>
    </div>
  </div>

</div>
