<div class="modal-janela">

  <div class="modal-corpo">

    <div class="modal-cabecalho">
      Cadastro de Módulo
    </div>

    <div class="modal-conteudo">
      <div>
          <mat-input-container class="tamanho-maximo">
              <input
                matInput
                name="nome"
                placeholder="Nome"
                [(ngModel)]="modulo.nome"
                />
  
          </mat-input-container>        
      </div>

      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <label class="form-control-label">Descrição</label>          
          <quill-editor
              [(ngModel)]="modulo.especificacao"
              [modules]="quillModules"
              placeholder="Descrição"
              [style.height]="'100%'"
              >
            </quill-editor>
        </div>
      </div>
    </div>

    <div class="modal-rodape">
      <div class="btn-group">
        <button
          class="btn btn-xs btn-danger"
          (click)="cancelar()"
          >
          Cancelar
        </button>

        <button
          class="btn btn-xs btn-primary"
          (click)="salvar()"
          >
          Salvar
        </button>
      </div>
    </div>
  </div>

</div>
