/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

html, body {
  margin: 0;
  height: 100%;
}

// Modal
@import './estilos/modal-style.scss';

// body {
//   position: absolute;
//   top: 0;
//   bottom: 0;
//   right: 0;
//   left: 0;

//   background: #dbeaff; /* Old browsers */
//   background: -moz-linear-gradient(top, #dbeaff 0%, #d9dfe2 100%, #d9dfe2 100%); /* FF3.6-15 */
//   background: -webkit-linear-gradient(top, #dbeaff 0%,#d9dfe2 100%,#d9dfe2 100%); /* Chrome10-25,Safari5.1-6 */
//   background: linear-gradient(to bottom, #dbeaff 0%,#d9dfe2 100%,#d9dfe2 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
// }

// Colors bootstrap

.my-danger-color {
  color: #c9302c;
}

.my-success-color {
  color: #5cb85c;
}

.my-success-color:hover {
  color: #528b52;
}

.my-primary-color {
  color: #337ab7;
}

.my-info-color {
  color: #31b0d5;
}

.my-icon-font {
  cursor: pointer;
}

.my-icon-font:hover {
  transition: all 0.5s;
  transform: scale(1.2);
}

.my-button-table {
  width: 8%;
}

@media only screen and (max-width: 1080px) {
  /* For mobile phones: */
  .my-button-table {
    width: 10%;
  }
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .my-button-table {
    width: 15%;
  }
}

@media only screen and (max-width: 560px) {
  /* For mobile phones: */
  .my-button-table {
    width: 20%;
  }
}

@media only screen and (max-width: 480px) {
  /* For mobile phones: */
  .my-button-table {
    width: 30%;
  }
}

@media only screen and (max-width: 240px) {
  /* For mobile phones: */
  .my-button-table {
    width: 40%;
  }
}

.my-fex-center {
  display: flex;
  justify-content: center;
}

