<help-bot-page titulo="RegraCampo">

  <div class="separacao-itens">
    <button mat-raised-button color="primary" class="mini-button" (click)="entityEvent()">
      <fa-icon
        [icon]="fontAwesomePlusCircle"
        title="Adicionar um novo Regra Campo"
        >
      </fa-icon>
    </button>
  </div>

  <mat-table #table [dataSource]="dataSourceTable" class="separacao-itens">

    <!-- Position Column -->
    <ng-container matColumnDef="#">
      <mat-header-cell *matHeaderCellDef>#</mat-header-cell>
      <mat-cell *matCellDef="let regraCampo">
        <button mat-raised-button color="primary" class="mini-button" (click)="entityEvent(regraCampo)">
          <fa-icon
            [icon]="fontAwesomePencil"
            title="Editar esse Regra Campo"
            >
          </fa-icon>
        </button>
        <button mat-raised-button color="warn" class="mini-button" (click)="remover(regraCampo)">
          <fa-icon
            [icon]="fontAwesomeTimeCircle"
            title="Remover esse Regra Campo"
            >
          </fa-icon>
        </button>
      </mat-cell>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="nome">
      <mat-header-cell *matHeaderCellDef>Nome</mat-header-cell>
      <mat-cell *matCellDef="let regraCampo">{{ regraCampo.nome }}</mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="['#', 'nome']"></mat-header-row>
    <mat-row *matRowDef="let row; columns: ['#', 'nome'];"></mat-row>
  </mat-table>

  <pagination
    [totalItems]="paginacao.totalItens"
    [ngModel]="paginacao.page + 1"
    (ngModelChange)="onChangePage($event)"
    [itemsPerPage]="paginacao.itensPerPage"
    >
  </pagination>

</help-bot-page>

