<div class="tela-inteira">

    <!-- [class.menu-home-closed]="menuHomeclosed" -->
  <div
    class="menu-home"
    (window:resize)="onWindowResize($event.target)"
    (mouseover)="menuHomeclosed = false"
    (mouseleave)="sizePequeno ? menuHomeclosed = true : false"
    >

    <div class="icone-menu-help-bot">
      <fa-icon [icon]="faHelpBot" size="6x"></fa-icon>
    </div>

    <!-- <div class="icone-menu-help-bot" *ngIf="menuHomeclosed">
      <fa-icon [icon]="faHelpBot"></fa-icon>
    </div> -->

    <div
      *ngFor="let itemPaiMenu of itensMenu"
      class="menu-itens"
      >

      <!-- <div class="item-menu-pai" (click)="toogleMenuPai(itemPaiMenu)">
        <div class="icone-menu">
          <fa-icon [icon]="itemPaiMenu.icon"></fa-icon>
        </div>
        <label class="item-selecao" *ngIf="!menuHomeclosed">&nbsp;{{ itemPaiMenu.nome }}</label>
      </div> -->

      <!-- <div *ngIf="itemPaiMenu.aberto"> -->
        <!-- <div *ngFor="let itemMenu of itemPaiMenu.filhos"> -->
        <!-- <div *ngFor="let itemMenu of itensMenu"> -->

          <div class="item-menu-filho" (click)="itemPaiMenu.acao()">
            <!-- <div class="icone-menu">
              <fa-icon [icon]="itemMenu.icon"></fa-icon>
            </div> -->
            <label
              class="item-selecao"
              >
              &nbsp;{{ itemPaiMenu.nome }}
            </label>
          </div>

        <!-- </div> -->
      <!-- </div> -->

    </div>

  </div>
  <div class="tela">
    <router-outlet></router-outlet>
  </div>
</div>
